.element {
  display: inline-block;
  line-height: 24px;
  width: 24px;
  /* background-color: #1a73e8; */
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.today {
  background-color: #1a73e8;
  color: #fff;
}

/* .another {

} */

/* .saturday {

} */

/* .sunday {
  
} */