.element {
  display: inline-block;
  line-height: 24px;
  width: 24px;
  height: 24px;
  /* background-color: #1a73e8; */
  color: black;
  border-radius: 50%;
  cursor: pointer;
  margin: 2px 0;

}

.element:hover {
  transform: translate(0, -2px);
}

.today {
  background-color: #1a73e8;
  color: #fff;
}

.notThisMonth {
  color: #70757a;
}

.task {
  height: 22px;
  display: flex;
  /* width: 70px; */
  background-color: rgb(3, 155, 229);
  color: #fff;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 2px;
  text-align: left;
  padding: 0 8px;
  cursor: pointer;
}

.task:hover {
  background-color: rgb(3, 135, 209);
}